<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firen_ball_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,311},{76,35}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{76,35}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,91},{80,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{80,35}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,276},{82,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{82,33}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,358},{80,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,25},{80,33}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,222},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{78,35}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,302},{76,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{76,35}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_broke_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,173},{48,47}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{48,47}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_broke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,302},{54,55}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{54,55}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_broke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{44,51}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{44,51}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_broke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,55},{34,39}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,19},{34,39}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_ball_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,134},{1,1}}</string>
                <key>offset</key>
                <string>{-40.5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>firen_exp_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,378},{116,114}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,35},{116,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{130,152}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{130,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{142,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{142,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{158,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{148,148}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{148,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,152},{144,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,134},{140,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{140,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,350},{136,140}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{136,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{138,142}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{138,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,298},{136,78}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{136,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>firen_exp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{144,58}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{144,58}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12e4c361395fa1014402df8c677af97e$</string>
            <key>textureFileName</key>
            <string>bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
