<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>freeze_ww_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,156},{148,152}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{148,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{148,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{148,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,294},{144,150}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{144,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{148,152}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{148,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,154}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{150,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{152,152}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{152,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,306},{146,148}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{146,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,142},{150,152}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{150,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{138,154}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{138,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>freeze_ww_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,440},{146,146}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{146,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cyclone.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3871c4c17f26a401ce12f0c37ba2ecd$</string>
            <key>textureFileName</key>
            <string>cyclone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
